li.callsign {
  font-family: monospace;
  padding: 10px;
  list-style-type: none;
}

li.callsign.unavailable {
  color: red;
}

li.callsign.graceperiod {
  color: orange;
}

li.callsign.hidden {
  display: none;
}
