div.filterControls {

}

div.resultsWrapper {
  margin: 0 auto;
  padding: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1.textSearched {
  display: block;
}

div.resultsGroups {
  display: block;
}
