h1.resultsGroupHeading {
  font-size: 2em;
}
ul.resultsGroup {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
li.result {
  font-family: monospace;
  padding: 10px;
  list-style-type: none;
}
