div.searchContentWrapper {
  margin: 0 auto;
  padding: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
form.searchForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
form.searchForm div.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}

div.form-group h4 {
  margin-top: 0;
  display: block;
}
