div.searchContentWrapper {
  margin: 0 auto;
  padding: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
form.searchForm {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
form.searchForm button {
  /*margin-left: 10px;*/
}
form.searchForm input {
  /*width: 110px;*/
}
div.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}

div.form-group h4 {
  display: block;
  width: 100%;
}
/*div.checkbox{
  margin: auto 0 auto 5px;
}
div.validationMessages {
  display:block;
  text-align: left;
  margin-top: 10px;
  color:rgb(200,0,0);
}
ul.validationMessageList {
  margin: 0;
  padding: 0;
}
li.validationMessageListItem{
  list-style-type: none;
  margin:0;
  padding: 0;
}*/
